@charset "utf-8";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #d9d9d9;
  border: solid 1px #d9d9d9;
  border-radius: 5px 5px 0 0;
  display: inline;
  margin: 0 5px 0 0;
  padding: 5px;
}

li.selected {
  background-color: #fff;
  border-bottom: solid 1px #fff;
}

.tabContent {
  border: solid 1px #d9d9d9;
}

.tabContent > div {
  display: none;
  padding: 5px;
}

.tabContent > div.selected {
  display: block;
}
